@{
    Layout = "_Matrix";
}

<section id="home" class="hero-section">
    <div class="container">
        <div class="hero-content">
            <div class="profile-image">
                <img src="https://hmovaghari.ir/contents/images/hmovaghari.png" alt="حامد موقری" id="profile-img">
                <div class="matrix-frame"></div>
            </div>
            <div class="hero-text">
                <h1 class="matrix-title">
                    <span class="typing-effect">با تشکر - Thanks</span>
                </h1>
            </div>
        </div>
    </div>
</section>